body, html {
    min-height: 100vh;
}

body>.container {
    min-height: 100vh;
}

#loginAlert, #signUpAlert {
    display: none;
}

.time {
    color: lightgrey;
}

.post {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

.searchAndPost, .writePost {
    float: right;
    margin: 5px 0;
}

.carousel-item>img {
    width: 100%;
    height: 100%;
}

.background {
    height: 100%;
    background-repeat: repeat;
    background-color: rgb(32, 32, 32);
    background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(to bottom, rgb(8, 8, 8), rgb(32, 32, 32));
    background-size: 10px 10px, 10px 10px, 10px 5px;
    background-position: 0px 0px, 5px 5px, 0px 0px;
}

.postContainer {
    background: #f5f5f5;
    /*height: 100%;*/
    padding: 20px;
}

.card {
    margin: 10px;
}

textarea {
    resize: none;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /*Margin bottom by footer height*/
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}
